.navigation {
  width: 100%;
  border: 0;
  height: 50px;
  background-size: cover;
  background-color: rgb(3, 145, 98);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.button-home-page,
.button-chat,
.button-profile {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.task1 {
  width: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#par {
  width: 300px;
  height: 20px;
  font-size: 2rem;
  display: block;
  text-align: center;
}

#btn {
  width: 50px;
  height: 40px;
  margin-top: 50px;
}

.task2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  gap: 25px;
}
#block {
  width: 100px;
  height: 100px;
  background: #313131;
  color: #e70909;
}
.time {
  width: 100px;
  height: 100px;
  background: #313131;
  color: #01801c;
}

#num {
  width: 100px;
  height: 100px;
  background: #313131;
  color: orange;
}
#str {
  width: 100px;
  height: 100px;
  background: #313131;
  color: blue;
}
