.navigation {
  border: 0;
  height: 50px;
  background-size: cover;
  background-color: rgb(3, 145, 98);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.button-home-page,
.button-chat,
.button-profile {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

table {
  margin: 50px 50px;
}

th {
  border: 1px solid grey;
  background-color: blanchedalmond;
}

td {
  width: 10px;
  height: 10px;
  border: 1px solid grey;
}
